/* Reset default styles */
body, h1, h2, h3, p, ul, li, form, input, textarea, button {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
}

/* Set background image */
body {
    background-image: url('galaxyyy.png');
    background-position: center;
}

div {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
